# Sialan, node modules kebawa >:(
node_modules

# Ignore launch jason
launch.json

# Ignore DS_Store cuz it's annoying
.DS_Store

# Ignore all generated lockfile
package-lock.json
yarn.lock
*.lock

# Ignore vscode settings
.vscode
