<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="Exxyll - A Multipurpose Discord Bot" />
    <meta name="description" content="A Multipurpose Discord Bot" />
    <meta name="keywords" content="exxyll" />
    <meta name="theme-color" content="#212529" />
    <title>Exxyll - A Multipurpose Discord Bot</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Exxyll</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#why">Why Exxyll</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Support Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section id="">
      <div class="col-8 mx-auto make-center">
        <h1 class="text-center">Make A Powerful Discord Server With Exxyll!</h1>
        <div class="d-grid gap-2 col-6 mx-auto mt-3">
          <button
            class="btn btn-primary"
            type="button"
            onclick="location.href='https://discord.com/api/oauth2/authorize?client_id=848232775798226996&permissions=3757567094&scope=bot';"
          >
            <i class="fab fa-discord"></i> Invite to Discord
          </button>
          <button
            class="btn btn-secondary"
            type="button"
            onclick="location.href='help'"
          >
            <i class="fas fa-terminal"></i> Command List
          </button>
        </div>
      </div>
    </section>

    <section id="why">
      <div class="container">
        <div class="row text-center mb-3">
          <h2>Why Exxyll?</h2>
          <p>
            Exxyll is a Multipurpose Discord Bot that Include Moderation,
            Welcoming System, and Many more features...
          </p>
        </div>
      </div>

      <div class="container">
        <div class="row justify-content-center fs-5 text-center">
          <div class="col-md-4">
            <h5 class="fw-bold">
              <i class="fas fa-tools"></i> Moderation Tools
            </h5>
            <p class="text-gray">
              You can easily moderate all things in your server! Like Kick,
              Banning user. Just typing available commands for moderations!
            </p>
          </div>

          <div class="col-md-4">
            <h5 class="fw-bold">
              <i class="fas fa-door-open"></i> Welcoming System
            </h5>
            <p class="text-gray">
              Our bot have Welcoming System. It triggers while new members join
              the server. Just do a little setup to enable this feature!
            </p>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row justify-content-center fs-5 text-center">
          <div class="col-md-4 mt-3">
            <h5 class="fw-bold"><i class="fas fa-music"></i> Music Feature</h5>
            <p class="text-gray">
              This bot have Music Feature. You can listen a music with your
              friends in a Voice Channel
            </p>
          </div>

          <div class="col-md-4 mt-3">
            <h5 class="fw-bold">
              <i class="fas fa-angle-double-right"></i> More Utilities Commands
            </h5>
            <p class="text-gray">
              There is Many Helpful Utilities Commands. You can search Wikipedia
              by doing Wiki Commands!
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h4 class="text-white fw-bold">Exxyll</h4>
            <p>
              Exxyll makes it possible to helps you managing, moderating,
              listening, and Many more. Add it to Discord today and Start Make
              your Powerful Discord Server!
            </p>
            <br />
            <p>
              For Bussiness Inquiries, Please Join Discord Server at
              <a href="https://discord.gg/j2MfuWySfD">Here.</a>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <hr />
            <p class="text-gray">&copy; 2021 Exxyll Devs.</p>
          </div>
        </div>
      </div>
    </section>

    <style>
      body {
        background: #212529;
        font-family: "Ubuntu", sans-serif;
      }
      section {
        padding-top: 5rem;
      }
      h1 {
        color: #ffffff;
      }
      h2 {
        color: #ffffff;
      }
      p {
        color: #ffffff;
      }
      h5 {
        color: #ffffff;
      }
      hr {
        color: #ffffff;
      }
      #footer {
        background: #191c1f;
      }
      .text-white {
        color: #ffffff;
      }
      .make-center {
        margin-top: 10rem;
      }
      .button1 {
        margin-left: 35rem;
        margin-top: 1rem;
      }
      .button2 {
        margin-top: 1rem;
      }
      .text-gray {
        color: #c0c0c0;
      }
      #why {
        margin-top: 25rem;
      }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" />
  </body>
</html>
