name: 'Lint'
on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master

jobs:
    check:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

            - name: Install Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: '18.x'

            - uses: pnpm/action-setup@v2.4.1
              name: Install pnpm
              id: pnpm-install
              with:
                  version: 8
                  run_install: false

            - name: Get pnpm store directory
              id: pnpm-cache
              run: |
                  echo "::set-output name=pnpm_cache_dir::$(pnpm store path)"

            - uses: actions/cache@v3
              name: Setup pnpm cache
              with:
                  path: ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
                  key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
                  restore-keys: |
                      ${{ runner.os }}-pnpm-store-

            - name: Directory check
              run: pwd && ls -a

            - name: Check Format
              run: pnpm dlx prettier --config ./.prettierrc.yml -c .
